[user]
	name = Aoyama Nanami
	email = aoyama_nanami@sakurasou
[color]
	ui = auto
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	ci = commit
	co = checkout
	cp = cherry-pick
	d = difftool
	dt = difftool
	fix = "!git commit --fixup=${1:-HEAD} && git rebase -i --autosquash #"
	lg = log --graph --all --format=format:'%C(bold magenta)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	lg2 = log --graph --all --format=format:'%C(bold magenta)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)- %an%C(reset)' --abbrev-commit
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	rb = rebase -i --autosquash
	st = status
[merge]
	conflictstyle = diff3
	tool = vimdiff
[push]
	default = simple
